
.code-input {
    padding: 54px;
    font-size: 7rem;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
}

.code-input-box {
    margin-bottom: 5px;
}

.loading-blobs {
    display: none;
}

.loading-blobs-show {
    display: block;
}



.blob {
    width: 2rem;
    height: 2rem;
    /*background: rgba(230,230,230,0.85);*/
    background: rgba(200, 200, 200, 0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    /*top: calc(50% - 1rem);*/
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 { animation: animate-to-2 1s infinite; }
.blob-3 { animation: animate-to-3 1s infinite; }
.blob-1 { animation: animate-to-1 1s infinite; }
.blob-4 { animation: animate-to-4 1s infinite; }
.blob-0 { animation: animate-to-0 1s infinite; }
.blob-5 { animation: animate-to-5 1s infinite; }

@keyframes animate-to-2 {
    25%, 75% { transform: translateX(-1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-3 {
    25%, 75% { transform: translateX(1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-1 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(-4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-4 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-0 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50% { transform: translateX(-4.5rem) scale(0.6); }
    75% { transform: translateX(-7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-5 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50% { transform: translateX(4.5rem) scale(0.6); }
    75% { transform: translateX(7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}