.App-container {
    background-color: #000000;
    color: #ffffff;
}

.App {
    background-color: #000000;
}

.box {
    border: 2px solid green;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 40px;
}

#timer {
    text-align: left;
}

#naval {
    text-align: right;
}