.App-container {
    background-color: whitesmoke;
    color: #000000;
    font-family: 'Roboto Mono', sans-serif;
}

.App {
    background-color: whitesmoke;
}

.box {
    border: 2px solid #33ff33;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    font-size: 7rem;
}

#timer {
    text-align: left;
    font-size: 2rem;
}

#naval {
    text-align: right;
    font-size: 2rem;
}

.space-below {
    margin-bottom: 5rem;
}